allure-pytest==2.8.19
allure-python-commons==2.8.19
jsonpath-rw==1.4.0
pyparsing==2.4.7
pytest==6.1.2
pytest-assume==2.3.3
pytest-html==3.1.1
pytest-metadata==1.11.0
pytest-repeat==0.9.1
pytest-rerunfailures==9.1.1
requests==2.24.0
xlrd==1.2.0
